.contact-flex {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding-top: 4rem;
}

.contact ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  padding-top: 2rem;
}

.contact ul li a {
  color: var(--green);
  text-decoration: none;
}

.contact a,
.contact {
  font-size: 16px;
}

@media (min-width: 768px) {
  .contact-flex {
    gap: 3rem;
  }
}
