.filter {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  gap: 1.25rem;
}

input[type="radio"] {
  display: none;
}

.filter-label {
  cursor: pointer;
}

input[type="radio"]:checked + .filter-label {
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-style: solid;
  -webkit-text-stroke-color: var(--white);
}

.filter-input label {
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--black);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--green);

  &:hover {
    color: var(--green);
  }
}

.filter-input {
  padding: 0;
}

@media (min-width: 768px) {
  .filter-input label {
    font-size: 1.5rem;
  }
  .filter {
    flex-direction: row;
    justify-content: center;
  }
}
