.filter {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  gap: 15px;
}

input[type="radio"] {
  display: none;
}

.filter-label {
  cursor: pointer;
}

input[type="radio"]:checked + .filter-label {
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-position: from-font;
  -webkit-text-stroke-color: var(--white);
}

.filter-input label {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--black);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--green);
}

.filter-input {
  padding: 0;
}
