.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.hero-title-mobile {
  font-size: 60px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 70px;
}
.hero-title-desktop {
  display: none;
}

button.hero-btn {
  text-transform: uppercase;
  font-weight: 600;
  margin: auto;
  padding: 13px 95px;
  border-radius: 50px;
  border: 2px solid var(--black);
  background-color: var(--green);
}
