.menu-burger {
  width: 2rem;
  height: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.menu-burger div {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--black);
  transition:
    transform 0.3s,
    opacity 0.3s;
  z-index: 1;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3.75rem 0;
  background-color: var(--black);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  transform: translateX(100%);
  transition: transform 0.3s;
  text-align: center;
}

.menu-background {
  position: absolute;
  background: var(--green);
  inset: 0;
  opacity: 0.7;
  z-index: -1;
}

.menu a {
  font-size: 1.25rem;
  color: var(--white);
}

.menu li {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--white);
}

.menu-mobile-home img {
  width: 70px;
}

@media (min-width: 650px) {
  .menu-burger div {
    height: 0.25rem;
  }
  .menu-mobile-home img {
    width: 100px;
  }
}

// is-active –––––––––––––––––––––––––––––––––––––––

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.menu-burger.is-active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: var(--white);
}

.menu-burger.is-active div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.menu-burger.is-active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);

  background-color: var(--white);
}

// Desktop –––––––––––––––––––––––––––––––––-

.menu-desktop {
  display: none;

  .menu-item {
    padding: 1px 2px;
    cursor: pointer;
  }

  .menu-item a {
    transition: color 0.3s;
  }

  .menu-item:hover a {
    color: var(--white);
  }
}

.menu-desktop-home {
  transition: 0.3s;

  &:hover {
    transform: rotate(10deg) scale(1.1);
  }
}

.menu-desktop-home img {
  width: 80px;
}

@media (min-width: 992px) {
  .menu-burger,
  .menu-mobile-home {
    display: none;
  }
  .menu-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-desktop ul {
    display: flex;
    gap: 3rem;
  }
  .menu-desktop-home img {
    width: 120px;
  }
}
