.menu-burger {
  width: 2rem;
  height: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.menu-burger div {
  width: 2rem;
  height: 0.25rem;
  background-color: var(--black);
  transition:
    transform 0.3s,
    opacity 0.3s;
  z-index: 1;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3.75rem 0;
  background-color: var(--black);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  transform: translateX(100%);
  transition: transform 0.3s;
  text-align: center;
}

.menu a,
.menu button {
  color: var(--white);
}

.menu li {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--white);
}

// is-active –––––––––––––––––––––––––––––––––––––––

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.menu-burger.is-active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: var(--white);
}

.menu-burger.is-active div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.menu-burger.is-active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);

  background-color: var(--white);
}
