// Project sur index.html

.project-cards {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-transform: uppercase;
}

.project-card {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}

.project-card.hide {
  display: none;
}

.project-subject {
  color: var(--green);
  font-size: 1rem;
  font-style: normal;
}

.project h3 {
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 1.25;
}

.project-item {
  width: 100%;
}

.project-item .project-preview {
  width: 250px;
  height: 120px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 650px) {
  .project-item .project-preview {
    width: 350px;
    height: 168px;
  }
}

@media (min-width: 768px) {
  .project-item .project-preview {
    width: 450px;
    height: 216px;
  }
}

@media (min-width: 992px) {
  .project-item .project-preview {
    width: 550px;
    height: 264px;
  }
}

@media (min-width: 1300px) {
  .project-item .project-preview {
    width: 750px;
    height: 360px;
  }
}

#licorne-web {
  background-image: url(/src/img/licorne-preview.png);
}

#architecture {
  background-image: url(/src/img/architecture-1.jpg);
}

#fc-bulle {
  background-image: url(/src/img/fc-bulle.png);
}

#stromer {
  background-image: url(/src/img/stromer-preview.jpg);
}

#protoherisse {
  background-image: url(/src/img/protoherisse-preview.jpg);
}

#connie-blyde {
  background-image: url(/src/img/connie-blyde-preview.png);
}

#licorne-vid {
  background-image: url(/src/img/licorne-preview.png);
}

.project-item a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  text-decoration: none;
}

.project-item-left a {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.project-item a div {
  text-align: right;
}

.project-item-left a div {
  text-align: left;
}

// Project page ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

section.project-page {
  padding-top: 2.5rem;
}

.project-page h1 {
  padding: 2rem 0;
}

.project-page a,
.project-page h2 {
  text-align: left;
  color: var(--green);
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
  text-decoration: none;
}

.project-page h2 {
  padding: 2rem 0 0.5rem;
}

.project-page a p {
  display: inline;
  margin-left: 0.25rem;
}

.project-page-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2rem;

  .project-field {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 4px;
  }

  a {
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    color: var(--black);
    -webkit-text-stroke-color: var(--green);
    margin-bottom: 4px;
    cursor: pointer;
    transition: 0.2s;

    svg {
      transition: 0.4s;
      transform-origin: right;
    }

    &:hover {
      color: var(--green);

      svg {
        transform: scaleX(1.2);
      }
    }
  }
}

.project-page-preview {
  padding-top: 3.75rem;
}

.project-page-preview a {
  text-align: right;
  display: block;
  margin-bottom: 0.25rem;
}

.project-page a.project-comments {
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.project-page img {
  width: 100%;
}

.project-page-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.project-page-mockup {
  width: 100%;
  height: 300px;
  overflow: hidden;
  overflow: scroll;
}

p.project-page-action {
  width: 100%;
  color: var(--green);
  text-align: right;
}

@media (min-width: 768px) {
  .project-page-mockup {
    height: 600px;
  }
  .project-page-presentation {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 2rem;
  }
  .project-page-presentation img {
    width: 40%;
  }
}
