// Project sur index.html

.project-cards {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-transform: uppercase;
}

.project-card {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}

.project-card.hide {
  display: none;
}

.project-subject {
  color: var(--green);
  font-size: 1rem;
  font-style: normal;
}

.project h3 {
  font-size: 1.25rem;
  font-weight: 900;
}

.project-item {
  width: 100%;
}

.project-item img {
  width: 200px;
}

@media (min-width: 650px) {
  .project-item img {
    width: 300px;
  }
}

.project-item a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  text-decoration: none;
}

.project-item-left a {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.project-item a div {
  text-align: right;
}

.project-item-left a div {
  text-align: left;
}

// Project sur index.html desktop grid

.project-cards-grid {
  display: none;
}

@media (min-width: 768px) {
  .project-cards {
    display: none;
  }

  .project-cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "banger . . bip"
      ". bitch beach beach"
      "bleach bleach bleach bleach";
  }

  #item1 {
    grid-area: banger;
  }
  #item2 {
    grid-area: bip;
  }
  #item3 {
    grid-area: bitch;
  }
  #item4 {
    grid-area: beach;
  }
  #item5 {
    grid-area: bleach;
  }
}

// Project sur page de projet ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.project-page h1 {
  padding: 2rem 0;
}

.project-page a,
.project-page h2 {
  text-align: left;
  color: var(--green);
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
  text-decoration: none;
}

.project-page h2 {
  padding: 2rem 0 0.5rem;
}

.project-page a p {
  display: inline;
  margin-left: 0.25rem;
}

.project-page-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.project-page-preview {
  padding-top: 3.75rem;
}

.project-page-preview a {
  text-align: right;
  display: block;
  margin-bottom: 0.25rem;
}

.project-page img {
  width: 100%;
}
