// Project sur index.html

.project-cards {
  display: flex;
  flex-direction: column;
  gap: 70px;
  text-transform: uppercase;
}

.project-card {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}

.project-subject {
  color: var(--green);
  font-size: 16px;
  font-style: normal;
  text-align: right;
}

.project h3 {
  font-size: 20px;
  font-weight: 900;
}

.project-item a {
  text-decoration: none;
}

.project-item-left .project-card {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.project-item-left .project-subject,
.project-item-left h3 {
  text-align: left;
}

// Project sur page de projet

.project-page h1 {
  padding: 30px 0;
}

.project-page a,
.project-page h2 {
  text-align: left;
  color: var(--green);
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
  text-decoration: none;
}

.project-page h2 {
  padding: 30px 0 10px;
}

.project-page a p {
  display: inline;
  margin-left: 5px;
}

.project-page-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.project-page-preview {
  padding-top: 60px;
}

.project-page-preview a {
  text-align: right;
  display: block;
  margin-bottom: 5px;
}

.project-page img {
  width: 100%;
}
