.slider {
  position: relative;
  margin: 100px 0 0;
  border-radius: 4px;
  width: 350px;
  height: 200px;
}

@media (min-width: 475px) {
  .slider {
    width: 400px;
    height: auto;
  }
}

@media (min-width: 537px) {
  .slider {
    width: 480px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .slider {
    width: 620px;
    height: auto;
  }
}

@media (min-width: 1010px) {
  .slider {
    width: 900px;
    height: auto;
  }
}

@media (min-width: 1500px) {
  .slider {
    width: 1100px;
    height: auto;
  }
}

.swiper-slide img {
  width: 100%;
}

button.control_prev,
button.control_next {
  position: absolute;
  top: 35%;
  z-index: 10;
  padding: 4% 3%;
  border: none;
  background: #2a2a2a;
  opacity: 0.8;
  cursor: pointer;
}

button.control_prev:hover,
button.control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

button.control_prev {
  left: 0;
  border-radius: 0 2px 2px 0;
}
button.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
