.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  margin: 3.75rem 0;
}

.tabs button {
  background-color: var(--black);
  border: none;
}

.tabs h3 {
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--green);
  margin-bottom: 4px;
  cursor: pointer;

  &:hover {
    color: var(--green);
  }
}

.tabs-slide {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateX(101%);
  display: none;
}

.tabs-slide-active {
  transform: translateX(0);
  display: block;

  h3 {
    color: var(--white) !important;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-style: solid;
    -webkit-text-stroke-color: var(--white);
  }
}

.tabs-slide-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#tabs-slide-2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .tabs {
    flex-direction: row;
    justify-content: center;
  }
  .tabs-slide-flex {
    flex-direction: row;
  }
}
