* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  font-family: var(--base-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.2px;
}

@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

h1,
h2 {
  font-family: var(--contrast-font);
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
}

h2,
.project-page-h1 {
  font-size: 1.75rem;
  padding: 2rem 0;
}

p {
  max-width: 900px;
}

li {
  list-style-type: none;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
}

header button {
  background-color: inherit;
  border: none;
}

footer p {
  color: var(--black);
  font-size: 0.75rem;
  text-align: center;
}

@media (min-width: 650px) {
  h2,
  .project-page-h1 {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  header {
    font-weight: 600;
    text-transform: uppercase;
  }
  body {
    font-size: 18px;
  }
  h2,
  .project-page-h1 {
    font-size: 4rem;
  }
}
