* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  font-family: var(--base-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.2px;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

h1,
h2 {
  font-family: var(--contrast-font);
  font-weight: 600;
  line-height: 100%;
  text-align: center;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.25rem;
  padding: 2rem 0;
}

li {
  list-style-type: none;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
}

header button {
  background-color: inherit;
  border: none;
}

footer p {
  color: var(--black);
  font-size: 0.75rem;
  text-align: center;
}
