* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Greycliff CF";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: var(--white);
}

nav a,
nav button {
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
}

nav button {
  background-color: inherit;
  border: none;
  // bold wtf
}

h2 {
  font-family: Widescreen;
  font-size: 100px;
  font-weight: 600;
  line-height: 100%;
  padding: 35px 0;
  border-top: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
}
