:root {
  --green: #00c023;
  --black: #000;
  --white: #fff;
}

body,
.hero {
  background-color: var(--green);
}

main {
  background-color: var(--black);
}

body {
  padding: 20px 0;
}

header,
main,
footer {
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // Center ou baseline ?
}
