:root {
  --green: #00c023;
  --black: #000;
  --white: #fff;
  --base-font: greycliff-cf, sans-serif;
  --contrast-font: widescreen-mixed, sans-serif;
}

body {
  background-color: var(--black);
  padding-top: 1.25rem;
}

.hero,
footer {
  background-color: var(--green);
}

header {
  width: 100vw;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

section {
  padding: 0 1.25rem;
  margin: 3.75rem 0;
  position: relative;
}

footer {
  padding: 1rem;
}

@media (min-width: 768px) {
  section {
    padding: 0 2.25rem;
  }
}
