:root {
  --green: #00c023;
  --black: #000;
  --white: #fff;
  --base-font: greycliff-cf, sans-serif;
  --contrast-font: widescreen-mixed, sans-serif;
}

body {
  background-color: var(--green);
  padding: 20px 0;
}
.project,
.cv,
.me,
.contact {
  background-color: var(--black);
}

header {
  width: 100vw;
  padding: 20px 35px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
  z-index: 1;
}

section {
  padding: 60px 20px;
  position: relative;
}

footer {
  padding: 60px 20px 0;
}
